.App {
  text-align: center;
  background-size: cover;
  background-position: center;
  background: url("./Components/green_back.jpg");
  height: 500vh;
  font-size: 30px;
  font-style: black;
}

.front {
  position: absolute;
}

.initialCard {
  background-color: white;
  color: white;

  height: 200px;
  margin: 30px;
}

.pickCard {
  display: flex;
}

.dealtCards {
  display: flex;
  height: 200px;
  flex-wrap: wrap;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  width: 40%;
  z-index: 1;
  margin: -20px 0;
}

.dealtCards:not(:first-child) {
  margin-top: -20px;
}

.aces {
  margin-left: 150px;
  display: flex;
  justify-content: space-around;
}

.Cards {
  position: relative;
}

/* .Cards:not(:first-child) {
  position: relative;
} */
